com2sec notConfigUser default HyvecloudHomelab

group notConfigGroup v1 notConfigUser
group notConfigGroup v2c notConfigUser

syslocation Hyvecloud Lab
syscontact Adam Beckett <becketta@live.com>

view all included .1 80

access notConfigGroup "" any noauth exact all none none
extend distro /usr/bin/distro
