server {
   listen 9001;
   server_name 192.168.0.160;
   location / {
      proxy_pass http://portainer_http;
   }
}
upstream portainer_http {
   server 192.168.0.161:9000;
   server 192.168.0.162:9000;
   server 192.168.0.163:9000;
}
server {
   listen 8181;
   server_name 192.168.0.160;
   location / {
      proxy_pass http://filebrowser;
   }
}
upstream filebrowser {
   server 192.168.0.161:8181;
   server 192.168.0.162:8181;
   server 192.168.0.163:8181;
}
server {
   listen 8443;
   server_name 192.168.0.160;
   location / {
      proxy_pass http://vscode_server;
   }
}
upstream vscode_server {
   server 192.168.0.161:8443;
   server 192.168.0.162:8443;
   server 192.168.0.163:8443;
}
server {
   listen 8282;
   server_name 192.168.0.160;
   location / {
      proxy_pass http://guacamole;
   }
}
upstream guacamole {
   server 192.168.0.161:8282;
   server 192.168.0.162:8282;
   server 192.168.0.163:8282;
}
server {
   listen 3001;
   server_name 192.168.0.160;
   location / {
      proxy_pass http://homepage;
   }
}
upstream homepage {
   server 192.168.0.161:3001;
   server 192.168.0.162:3001;
   server 192.168.0.163:3001;
}